@import url("https://fonts.googleapis.com/css2?family=Baumans&family=Be+Vietnam+Pro:wght@300&family=Bebas+Neue&family=Dancing+Script:wght@500&family=Inter:wght@400;600&family=Kumbh+Sans:wght@400;700&family=Lilita+One&family=Montserrat:ital,wght@0,740;1,740&family=Overpass:wght@580&family=Playfair+Display:ital,wght@0,437;1,437&family=Roboto+Mono:ital,wght@0,586;1,586&family=Sevillana&family=Tenali+Ramakrishna&family=Tillana:wght@500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}
body {
  overflow-x: hidden;
  font-family: "Roboto Mono", monospace;
}
.loader {
  background: url("./assets/back.png");
  background-size: cover;
}
.content {
  font-family: "Roboto Mono", monospace;
  text-shadow: 2px 2px 8px #00ff29;
}
.overlay {
  font-family: "Roboto Mono", monospace;
  background-color: rgba(0, 0, 0, 0.5);
}
.log,
.sign {
  font-family: "Roboto Mono", monospace;
}
.log:hover {
  text-shadow: 2px 2px 8px #00ff29;
}
.sign:hover {
  text-shadow: 2px 2px 8px #00ff29;
}
.homebtn {
  background-image: url("./assets/bgGradient.png");
  background-size: cover;
  background-position: center;
}
.imgbtn {
  background-image: url("./assets/back.png");
  background-size: cover;
  background-position: center;
}
.error {
  background: url("../src/assets/errorpage.png");
  background-size: cover ;
  background-position: center;
  font-family: "Roboto Mono", monospace;
}
.refer {
  font-family: "Roboto Mono", monospace;
}
.refer:hover {
  box-shadow: 1px 2px 20px 5px black;
}

a {
  position: relative;
  display: block;
  overflow: hidden;
}
.hov {
  transition: 0.4s;

  display: block;
}

a::after {
  position: absolute;
  content: attr(data-link-alt);
  top: 100%;
  right: 0%;
  transition: 0.4s;
}
a:hover::after {
  opacity: 1;
  top: 0%;
}
a:hover .hov {
  transform: translateY(-100%);
}
.para {
  text-shadow: 5px 5px 11px #00ff29;
}
.btn:hover {
  box-shadow: 1px 2px 10px 5px #00ff29;
}
.left {
  box-shadow: 1px 2px 10px 5px #00ff29;
}
.right {
  box-shadow: 1px 2px 10px 5px #00ff29;
  border-radius: 1rem;
}
.glow{
  text-shadow: 5px 5px 7px #89ea99;
}

.f {
  animation: animate 2s linear infinite alternate-reverse;
}
.leftSection {
  margin-right: auto;
}
@keyframes animate {
  from {
    bottom: 0;
  }
  to {
    bottom: 60px;
  }
}
@media only screen and (max-width: 474px) {
  .leftSection {
    text-align: center;
    margin-left: 0;
  }
}
@media only screen and (max-width: 410px) {
  .leftSection ul li {
    list-style: none;
  }
}
.up {
  background: linear-gradient(#013117, #002d158a, transparent);
}
.info {
  background: radial-gradient(
    #00ff71,
    #03be57b9,
    #012712a7,
    transparent,
    transparent
  );
}
.out {
  background: linear-gradient(transparent, #002d158a, #013117);
}
.grady {
  background: linear-gradient(black,rgba(0, 0, 0, 0.512) ,transparent);
}

.f {
  animation-name: hoverAnimation;
  animation-duration: 2s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}
@keyframes hoverAnimation {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}
.glass {
  backdrop-filter: blur(10px) saturate(200%);
  -webkit-backdrop-filter: blur(10px) saturate(200%);
  background: linear-gradient(
    to bottom right,
    rgba(0,255,41,0.6),
    rgba(35, 183, 64,0)
  );
  
}
.glass_one {
  box-shadow: 1px 2px 10px 5px black;
  transform: translateZ(1000px);
  backdrop-filter: blur(10px) saturate(200%);
  -webkit-backdrop-filter: blur(10px) saturate(200%);
  background: linear-gradient(
    to bottom right,
    rgba(5, 235, 43, 0.5),
    rgba(35, 183, 64,0)
  );
  
}
.b-shadow{
  box-shadow: 1px 2px 10px 2px black;
}